include modal-yellow
include modal-rainbow
include modal-circle

mixin slider-card-temp(itemIcon, itemName, itemDetail)
  div.slider__inner
    span.slider__icon
      svg(width='24px' height='24px')
        use(xlink:href=`img/icons.svg#${itemIcon}`)
    p.slider__heading.heading.heading--m #{itemName}
    p.text.text--light #{itemDetail}
  + modal-rainbow(itemName, itemDetail)


mixin slider-card-light(itemIcon, itemName, itemDetail)
  div.slider__inner
    span.slider__icon
      svg(width='24px' height='24px')
        use(xlink:href=`img/icons.svg#${itemIcon}`)
    p.slider__heading.heading.heading--m #{itemName}
    p.text.text--light #{itemDetail}
  + modal-yellow(itemName, itemDetail)

mixin slider-card-floor(itemIcon, itemName, itemDetail)
  div.slider__inner
    span.slider__icon
      svg(width='24px' height='24px')
        use(xlink:href=`img/icons.svg#${itemIcon}`)
    p.slider__heading.heading.heading--m #{itemName}
    p.text.text--light #{itemDetail}
  + modal-circle(itemName, itemDetail)

mixin slider-card-s(itemIcon, itemName, itemDetail)
  div.slider__inner
    span.slider__icon
      svg(width='24px' height='24px')
        use(xlink:href=`img/icons.svg#${itemIcon}`)
    p.slider__heading.heading.heading--m #{itemName}
    p.text.text--light #{itemDetail}

